<launch>
  <node pkg="rx_device_driver" name="lakeshore_218" type="l218_temp_monitor.py" required="true" output="screen">
    <param name="~host" value="192.168.100.108" />
    <param name="~port" value="13" />
    <param name="~rate" value="1" />
    <param name="~onoff" value="[1,1,1,1,1,1,1,1]" />
  </node>
</launch>